body {
	background: url(chile.jpg) no-repeat;
  	background-size: cover;
  	font-family: 'Hind', sans-serif;
}

.container {
	margin-top: 30px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	text-align: center;
	padding: 40px;
	border-radius: 5px;
}

span.question {
	display: block;
}

button {
	margin-top: 20px;
	margin-left: 10px;
	font-family: 'Hind', sans-serif;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

button:hover { 
    background-color: #e55252;
    border-radius: 5px;
    border: none;
}

div.header {
	padding: 5px;
	padding-bottom: 20px;
	text-align: left;
}

#multiple-choice {
	padding: 10px;
	line-height: 20px;
}


